<div class="container">
  <div class="sign-up-main">
    <div class="sign-up-explanation">
      <h3 class="weitertoha">Weiterとは</h3>
      <p class="weitertoha-explanation">
        <strong>Weiter</strong>とは『世界中の人々がサッカーで繋がる』をテーマに、個人のサッカーの日常や挑戦してる事、サッカーに関連した知識や情報を投稿し、楽しむこと、学ぶことを目的にしたサイトです。このアプリを期に、サッカーを好きになる人、成長してくれる人、人気になる人が増えることを目指します。
      </p>
    </div>
    <div class="article-sign-up">
      <div class="sign-up">
        <h2 class="signup">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="sign-up-field">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"Username" %>
          </div>
          <div class="sign-up-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
          </div>
          <div class="sign-up-field">
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"password" %>
          </div>
          <div class="sign-up-field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Confirmation Password" %>
          </div>
          <div class="sign-up-actions">
            <%= f.submit "　　　　　Create New Account　　　　　　", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>