<div class="container">
	<div class="row">
	    <h1>新規投稿</h1>
	    <%= form_for(@article_new) do |f| %>
		    <% if @article_new.errors.any? %>
			    <div id="error_explanation">
			    	<h2><%= @article_new.errors.count %>件のエラーが発生しました。</h2>
			    	<ul>
			    		<% @article_new.errors.full_messages.each do |message| %>
			    		<li><%= message %></li>
			    		<% end %>
			    	</ul>
			    </div>
		    <% end %>

	    	<div class="col-sm-12">
		    	<h4>イメージ</h4>
		    	<%= f.attachment_field :image, size: "600x360" %>
	    	</div>

	    	<div class="col-sm-6">
		    	<h4>タイトル</h4>
		    	<%= f.text_field :title, placeholder:"タイトルを書く", class: 'form-control' %>
		    </div>

	    	<div class="col-sm-12">
		    	<h4>キャプション</h4>
		    	<%= f.text_area :content, placeholder:"キャプションを書く", :size => "80x5",  class: 'form-control' %>
		    </div>

	     <%= f.submit "投稿", class: 'btn btn-primary pull-right' %>
	     <%= link_to 'キャンセル', articles_path, class: 'btn btn-primary pull-right' %>

	    <% end %>
    </div>
</div>