<div class="container">
	<div class="row">
		<h1>トップページ</h1>
		<% @articles.each do |article| %>
		<div class="col-md-3">
			<div>
				<%= link_to article_path(article) do %>
					<%= attachment_image_tag article, :image, size: "300x180" %>
				<% end %>
			</div>
			<div class="">
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= article.favorites.count %>
			</div>
			<div class="">
				<i class="fa fa-comment"></i>
				<%= article.post_comments.count %>
			</div>
			<div>
				<%= link_to article.title, article_path(article) %>
			</div>
			<div>
				<%= link_to user_path(article.user) do %>
					<%= attachment_image_tag article.user, :profile_image, size: "120x60" %>
				<% end %>
				<%= link_to article.user.name,  user_path(article.user) %>
			</div>
		</div>
		<% end %>

		<h2>ランキング</h2>
		<% @all_ranks.each do |article| %>
			<div>
				<%= link_to article_path(article) do %>
					<%= attachment_image_tag article, :image, size: "300x180" %>
				<% end %>
			</div>
			<div class="">
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= article.favorites.count %>
			</div>
			<div class="">
				<i class="fa fa-comment"></i>
				<%= article.post_comments.count %>
			</div>
			<div>
				<%= link_to article.title, article_path(article) %>
			</div>
			<div>
				<%= link_to user_path(article.user) do %>
					<%= attachment_image_tag article.user, :profile_image, size: "120x60" %>
				<% end %>
				<%= link_to article.user.name,  user_path(article.user) %>
			</div>
		<% end %>
	</div>
</div>