
<div class="container calendershow">
    <h1 class="text-center">Calender</h1>
    <!-- カレンダーの表示 -->
    <div id="calendar"></div>
    <% if user_signed_in? %>
        <% if @user.id == current_user.id %>
            <div id="inputScheduleForm" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-nm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">New Event</h4>
                        </div>
                        <div class="modal-body">
                            <%= form_with model: @event, url: events_path do |f| %>
                                <div  class="col">
                                        <p>
                                            <span>Title</span>
                                            <span><%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %></span>
                                        </p>
                                        <span>Place</span>
                                        <span><%= f.text_field :place, class: "form-control", placeholder: "場所を入力してください" %></span>
                                        <span>Start</span>
                                        <span><%= f.datetime_field  :start, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
                                        <span>End</span>
                                        <span><%= f.datetime_field :end, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
                                        <span>Detail
                                        <%= f.text_field :body, class: "form-control", placeholder: "タイトルの詳細を記入してください" %></span>
                                </div>
                                <div class="modal-footer">
                                    <%= f.submit "Save", class: "btn btn-primary" %>
                                    <%= f.hidden_field :user_id, :value => current_user.id %>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
    <!-- 編集 ------------------------------------------------------------------>
            <div id="inputEditForm">
                <%= render 'events/edit', events: @events %>
            </div>
        <% end %>
    <% end %>
        <script>
        // CRUDを行う際にCSRF対策のtokenを発行
            $(document).ready(function() {
            var prepare = function(options, originalOptions, jqXHR) {
              var token;
              if (!options.crossDomain) {
                token = $('meta[name="csrf-token"]').attr('content');
                if (token) {
                  return jqXHR.setRequestHeader('X-CSRF-Token', token);
                }
              }
            };
            }
            )

            // カレンダー表示
            $('#calendar').fullCalendar ({
                header: {
                    left: 'prev,next today',
                    center: 'month,agendaWeek,agendaDay',
                    right: 'title'
                },

                buttonText: {
                      prev: "<",
                      next: ">"
                },

                timezone: 'JST',
                events: '/users/<%= @user.id %>/event.json',
                navLinks: true,
                selectable: true,
                selectHelper: true,
                timeFormat: "HH:mm~",
                eventColor: '#63ceef',
                eventTextColor: '#000000',

                dayClick : function ( date , jsEvent , view ) {
                    $('#inputScheduleForm').modal('show');
                    },

                eventClick : function(event, jsEvent , view) {
                    jsEvent.preventDefault();
                    $(`#inputScheduleEditForm${event.id}`).modal('show');
                },

                eventMouseover : function(event, jsEvent , view) {
                    jsEvent.preventDefault();
                }
            })

        </script>
</div>