<h1>プロフィール編集</h1>

<%= form_for(@user, url: user_path) do |f| %>
	<div class="form-group">
		<%= f.label :profile_image, 'プロフィール画像' %>
		<%= f.attachment_field :profile_image %>
		<%= attachment_image_tag @user, :profile_image, size: "300x180", class: "rounded-circle", format: 'jpeg', fallback: "no_image.jpg" %>
	</div>

	<div class="form-group">
		<%= f.label :name, 'ユーザーネーム' %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :email, 'メールアドレス' %>
		<%= f.email_field :email, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :goal, '目標' %>
		<%= f.text_field :goal, class: 'form-control' %>
	</div>

	<div class="form-group">
	<%= f.label :introduction, '自己紹介' %>
	<%= f.text_area :introduction, :maxlength => "255", :size => "80x5",  class: 'form-control'  %>
	</div>
	<div class="">
		<%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %>
	</div>
<% end %>

<div class="">
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>