<div class="container">
	<h1 class="profile-title">Profile</h1>
	<div class="profile-calender">
        <%= link_to '', user_event_path(@user), class: "far fa-calendar-alt" %></i>
    </div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<%= attachment_image_tag @user, :profile_image, size: "320x320", class: "img-circle", format: 'jpeg', fallback: "no_image.jpg" %>
			</div>
			<h4 class="profile-name">
				<%= @user.name %>
			</h4>
		</div>
		<div class="col-md-6">
			<div class="profile-article">
				<p class="profile-article-count">
					<%= @user.articles.count %>
				</p>
				<h5 class="profile-article-name">Articles</h5>
			</div>
			<div class="profile-follow">
				<p class="profile-follower-count">
					<%= @user.followings.count %>
				</p>
				<h5 class="follow-name">
					<%=link_to "Follow", followingsandfollowers_user_path(@user) %>
				</h5>
			</div>
			<div class="profile-follower">
				<p class="profile-follower-count">
					<%= @user.followers.count %>
				</p>
				<h5 class="follower-name">
					<%=link_to "Follower", followingsandfollowers_user_path(@user) %>
				</h5>
			</div>
			<div class="profile-goal">
				<h4 class="goal">Goal：<%= @user.goal %></h4>
			</div>
			<div class="profile-introduction">
				<h4 class="profile-introduction-name">Introduction</h4>
				<%= @user.introduction %>
			</div>
	<div class="profile-edit">
		<!-- 自分をのぞいた人たちのみボタンを表示する -->
		<% if current_user != @user %>
			<% if @user.followed_by?(current_user) %>
				<h5><%=link_to "フォロー中", user_relationships_path(@user), method: :delete, class: 'btn btn-primary pull-right' %></h5>
			<% else %>
				<h5><%=link_to "フォローする", user_relationships_path(@user), method: :create, class: 'btn btn-primary pull-right' %></h5>
			<% end %>
		<% else %>
			<h5><%= link_to "プロフィールを編集", edit_user_path(@user), method: :get, class: 'btn btn-primary pull-right' %></h5>
		<% end %>
	</div>
	<div class="profile-chat">
		<% unless @user.id == current_user.id %>
			<!-- チャットルームが作成している時 -->
		    <% if @isRoom == true %>
		    	<p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary">チャットへ</a></p>
		    <!-- 作成されていない時 -->
		  	<% else %>
		  		<!-- Roomsテーブルにform_forインスタンス変数 -->
		    	<%= form_for (@room) do |f| %>
		    		<!-- Entriesテーブルにfields_forインスタンス変数 -->
		      		<%= fields_for @entry do |e| %>
		        		<%= e.hidden_field :user_id, value: @user.id %>
		      		<% end %>
		      	<%= f.submit "チャットを始める", class:"btn btn-primary user-show-chat"%>
		    	<% end %>
		  	<% end %>
		<% end %>
	</div>
	</div>
	</div>
	<div class="wrap">
		<ul id="tab-menu" class="clearfix">
			<li><a href="#tab1" class="active"><i class="far fa-image"></i></a></li>
			<li><a href="#tab2" class=""><i class="far fa-heart"></i></a></li>
		</ul>
		<div id="tab-contents" class="clearfix">
			<div id="tab1" class="tab">
				<div class="row">
					<% @user.articles.each do |article| %>
						<div class="col-md-4">
							<div class="my-article-img">
								<%= attachment_image_tag article, :image, size: "300x200", fallback: "no_image.jpg", class: "img-rounded" %>
							</div>
							<div class="profile-favo">
								<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= article.favorites.count %>
							</div>
							<div class="profile-comment">
								<i class="fa fa-comment"></i><%= article.post_comments.count %>
							</div>
							<div class="profile-article-title">
								<%= link_to article.title, article_path(article) %>
							</div>
						</div>
			    	<% end %>
			    </div>
			</div>

			<div id="tab2" class="tab">
				<div class="row">
					<% @favorite_articles.each do |article| %>
						<div class="col-md-4">
							<div class="my-article-img">
								<%= attachment_image_tag article, :image, size: "300x200", fallback: "no_image.jpg", class: "img-rounded" %>
							</div>
							<div class="profile-favo">
								<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= article.favorites.count %>
							</div>
							<div class="profile-comment">
								<i class="fa fa-comment"></i><%= article.post_comments.count %>
							</div>
							<div class="profile-article-title">
								<%= link_to article.title, article_path(article) %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
