
<div class="container">
  <div class="article-sign-in">
    <div class="sign-in">
      <h2 class="log-in">Log In</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="signin-mail">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
        </div>

        <div class="signin-password">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="signin-ramemberme">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "　　　　　　　Log In　　　　　　　", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
