<!DOCTYPE html>
<html>
  <head>
    <title>Weiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
  </head>

  <body>
      <header class="navbar navbar-top">
          <div class="bar header-border-bottom" >
              <nav class="nav navbar-nav navbar-left">
                <h2 class="weiter">Weiter</h2>
              </nav>
              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to '', articles_path, class: "fas fa-archway" %>
                    </li>
                    <li>
                      <%= link_to '', following_articles_path, class: 'fas fa-home' %>
                    </li>
                    <li>
                      <%= link_to '', user_path(current_user), class: "far fa-laugh-wink" %>
                    </li>
                    <li>
                      <%= link_to '', user_event_path(current_user), class: "far fa-calendar-alt" %></i>
                    </li>
                    <li>
                      <%= link_to '', new_article_path, class: "far fa-plus-square" %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to '', root_path, class: "fas fa-archway" %>
                    </li>
                    <li>
                      <%= link_to '', home_about_path, class: "fas fa-info-circle" %>
                    </li>
                    <li>
                      <%= link_to '',new_user_registration_path, class: "fas fa-user-plus" %>
                    </li>
                    <li>
                      <%= link_to '', new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
                    </li>
                  <% end %>
                </ul>
              </nav>
          </div>
      </header>
          <%= yield %>
      <footer>
        <p class="footer-text">©2020 Weiter From Akeru Iwamoto</p>
        <p class="footer-body"><%= link_to 'How to Weiter', home_about_path %></p>
      </footer>
  </body>
</html>
